.audioContainer {
    grid-column: 1 / -1;
    display: grid;
}

.audioInfo {
    display: grid;
    row-gap: 2rem;
}

.audioInfo h4 {
}

.audioImgContainer {
}

.audioText {
    font-size: 0.5rem;
    /* border: 2px solid red; */
}

.audioPlayer {
    height: 100px;
}

@media screen and (min-width: 550px) {
    .audioContainer {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 1000px) {
    .audioContainer {
        grid-column: 3 / span 8;
    }
}
