.container {
    width: 220px;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    justify-self: center;
    /* align-items: center; */
}

.links {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 4px 8px;
    transition: all 0.5s ease;
}

.back,
.prev,
.next {
}

.prev span {
    margin-left: 6px;
}

.back span {
}

.next span {
    margin-right: 6px;
}
