.skipNavLink {
    --white: #f5f5f5;
    --dark: #08040e;
    position: fixed;
    z-index: 9;
    padding: 6px;
    translate: 0 -120%;
    background-color: var(--dark);
    color: var(--white);
    transition: translate 0.3s ease-in;
}

.skipNavLink:focus-visible {
    translate: 0;
}
