/* STYLES FOR PROJECT COMPONENTS */

.reactPlayer {
    --lilac: #b49fb7;
    /* border: 1px solid black; */
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.reactPlayer iframe,
.reactPlayer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoText {
    margin: auto;
}
