/* STYLES FOR PROJECT COMPONENTS */

.videoContainer {
    --layoutSpace: min(3.5vh, 3rem);
    --pageSpace: calc(var(--layoutSpace) + 1rem);
    --space: 1.5rem;
    --aspectRatio: 16/9;
}

.videoContainer iframe {
    /* padding-bottom: calc(100% / (var(--aspectRatio))); */
}

.videoContainer img {
    height: auto;
    /* padding-bottom: calc(100% / (var(--aspectRatio))); */
}

.videoText {
    margin: auto;
}
