.artistContainer,
.cvContainer {
    --space: 1.5rem;
    --cvUnderTitleSpace: 10px;
    --letterSpace: 0.03rem;
    --cvListSpace: 1.5vmin;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 12;
}

.artistContainer {
    margin-bottom: calc(var(--space) * 1.3);
}

.cvContainer {
    display: grid;
    grid-row: 2 / span 1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
}

.artistContainer h3,
.cvContainer h4 {
    text-align: start;
}

.cvContainer b {
    font-weight: 400;
}

.cvBtn {
    grid-row: 1 / span 1;
    grid-column: 6/ -1;
}

.cvContainer .bodyContainer {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
}

.cvContainer .bodyContainer h5 {
    margin-bottom: var(--cvUnderTitleSpace);
}

.cvContainer .bodyContainer h5::before {
    content: '';
    height: var(--space);
    display: block;
}

.cvContainer .bodyContainer li {
    margin-bottom: var(--cvListSpace);
}

.artistContainer p:nth-of-type(2) {
    margin-top: max(var(--space), 1vh);
}

.cvContainer h4 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 550px) {
    .cvBtn {
        grid-column: 9 / -1;
    }
}

@media screen and (min-width: 768px) {
    .cvBtn {
        grid-column: 10 / -1;
    }
}

@media screen and (min-width: 1000px) {
    .artistContainer,
    .cvContainer {
        max-width: 100%;
    }
}
