/* grid layout for the containers */

.artistContainer,
.cvContainer,
.publishedContainer {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 12;
}

.bodyContainer {
    line-height: 1.85;
    font-weight: 300;
}
.artistContainer .bodyContainer p {
    max-width: fit-content;
}

.cvContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px auto;
    margin-top: max(4vh, 3.5rem);
}

.cvContainer b {
    font-weight: 400;
    font-size: 0.85rem;
}

.cvBtn {
    grid-row: 1 / span 1;
    grid-column: 6/ -1;
    font-size: 0.8rem;
}

.cvContainer .bodyContainer {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
}

.cvContainer .bodyContainer h5 {
    margin-bottom: 10px;
}

.cvContainer .bodyContainer h5::before {
    content: '';
    height: 1.5em;
    display: block;
}

.cvContainer .bodyContainer h6 {
    text-align: start;
    /* font-size: 1rem; */
    margin: 1em 0 6px 0;
}

.cvContainer .bodyContainer li {
    margin-bottom: 4px;
}

.artistContainer .aboutTitle {
    margin-bottom: 1rem;
}

.artistContainer p {
    /* font-size: 0.9rem; */
    line-height: max(2, 2vh);
}

.artistContainer p:nth-of-type(2) {
    margin-top: max(1em, 1vh);
}

.publishedContainer .bodyContainer p {
    line-height: 1.9;
}

.publishedContainer ul p {
    display: flex;
}

.cvContainer h4 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

@media screen and (min-width: 420px) {
}

@media screen and (min-width: 550px) {
    .artistContainer,
    .cvContainer,
    .publishedContainer {
        grid-column: 2 / span 10;
    }

    /* .aboutContainer::before,
    .aboutContainer::after {
        content: '';
        display: block;
        width: 100%;
        grid-column: 2 / span 10;
    } */

    .cvBtn {
        grid-column: 9 / -1;
        /* font-size: 0.8rem; */
    }
}

@media screen and (min-width: 768px) {
    .cvBtn {
        grid-column: 10 / -1;
    }
}

@media screen and (min-width: 1000px) {
    .artistContainer,
    .cvContainer,
    .publishedContainer {
        grid-column: 3 / span 8;
    }
}
