.contact {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    row-gap: 0.5rem;
    /* border: 1px solid red; */
}

.contactWrapper {
    /* border: 1px solid blue; */
    grid-column: 1 / span 1;
}

.contactWrapper div:first-of-type {
    margin-bottom: 1rem;
}

.contactWrapper h4 {
    text-align: start;
    margin-bottom: 4px;
}

.contactWrapper a {
    line-height: 1.8;
}

.contact img {
}

@media screen and (min-width: 550px) {
    .contact {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 568px) {
    .contactWrapper {
        align-self: center;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        grid-template-columns: minmax(200px, 1fr) 10% minmax(200px, 1fr);
    }
    .contact img {
        grid-column: 2 / span 2;
    }
}

@media screen and (min-width: 1000px) {
    .contact {
        grid-column: 3 / span 8;
    }
}
