.contact {
    --space: 1.5rem;
    --layoutSpace: min(8.5vw, 6rem);
    --lineHeight: 0.5px;
    --contactTxtSpace: 1vmin;
    --contactInfoSpace: 3.5vmin;
    display: flex;
    flex-direction: column;
    row-gap: var(--layoutSpace);
}

.contactInfoWrapper h4 {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: var(--contactTxtSpace);
}

.contactImg {
}

.contactImg img,
.contactInfoWrapper {
    height: calc(100% - var(--layoutSpace));
}

.contactImg img {
}

@media screen and (min-width: 550px) {
    .contact {
        flex-direction: row;
        row-gap: 0;
        column-gap: var(--layoutSpace);
        justify-content: space-between;
    }

    .contactInfoWrapper {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .contactImg {
        /* border: 1px solid red; */
    }

    .contactImg img {
        /* object-fit: contain; */
    }
}

@media screen and (min-width: 810px) {
    .contact {
        column-gap: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .contactInfoWrapper {
        grid-column: 1 / span 3;
        row-gap: var(--contactInfoSpace);
    }

    .contactImg {
        grid-column: 6 / -1;
    }
}
