@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --white: #e3e3e3;
    --transparentWhite: rgba(252, 247, 244, 0.95);
    --dark: #05000d;
    --transparentDark: rgba(14, 6, 27, 0.8);
    --transparentDarker: rgba(14, 6, 27, 0.7);
    --pinkish: #bb85ba;
    --lilac: #b0aff6;
    --padding: 1rem;
    --menuHeight: 50px;
    --font: 'Quicksand', sans-serif;
}

::selection {
    background-color: var(--dark);
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--white);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}
a:not(.logo, .skipLink) {
    transition: color 0.5s;
    position: relative;
    overflow: hidden;
}

a:not(.logo, .skipLink)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* display: block; */
    width: 100%;
    height: 1.5px;
    background-color: var(--dark);
    transform: scale(0);
    transition: transform 0.4s;
}

a:not(.logo, .skipLink):hover::after {
    transform: scale(1);
}

@keyframes underlinLink {
    0% {
    }
    100% {
    }
}

.lightLink {
    font-weight: 300;
}

a:hover:not(.logo, .skipLink),
a:focus:not(.logo, .skipLink) {
    color: #b0aff6;
}

.btn {
    background-color: transparent;
    font-family: var(--font);
    color: var(--dark);
    font-size: 0.9rem;
    cursor: pointer;
    max-width: 400px;
    height: 50px;
    border: 1.5px solid var(--dark);
}

.btn:focus,
.btn:hover {
}

button,
input,
textarea {
    border: none;
    padding: 8px;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    display: block;
}

p,
input,
textarea,
a {
    letter-spacing: 0.025rem;
}

p {
    line-height: 1.7;
    font-weight: 300;
}

.logo {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    user-select: none;
    margin: 1rem 0 0 0;
    color: var(--transparentDarker);
}

h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.085rem;
    font-weight: 400;
    text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 70ch;
}

.pageTitle {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
}

.menuLink {
    font-size: 0.8rem;
    line-height: 1.8;
    letter-spacing: 0.05rem;
    user-select: none;
}

header,
nav {
    background-color: var(--white);
    position: fixed;
    width: 100%;
    z-index: 8;
    display: flex;
    justify-content: center;
}

header,
nav {
    padding: var(--padding) 0;
}

nav {
    bottom: 0;
    /* border: 2px solid red; */
    align-items: flex-end;
}

.navContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.menu {
    background-color: var(--white);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    z-index: 3;
    text-transform: uppercase;
}
.menu.open {
    opacity: 1;
}

.menuLink.active {
    --dark: #5e526e;
    cursor: none;
    pointer-events: none;
    color: var(--dark);
}

.menuLink.active::after {
    --dark: #5e526e;
    transform: scale(1);
    background-color: var(--dark);
    opacity: 0.5;
}

.burgerMenu {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    animation: rotateBack 0.4s both;
}

.burgerMenu.open {
    transform: rotate(0deg);
    animation: rotation 1s both;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotateBack {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.line {
    background-color: var(--dark);
    height: 1.4px;
    width: 20px;
    margin: 5px 0;
    transform-origin: 9.5px;
    transition: rotate 0.3s, opacity 0.3s, background-color 0.3s;
}

.burgerMenu.open .line:nth-child(1) {
    rotate: -45deg;
    background-color: var(--lilac);
}

.burgerMenu.open .line:nth-child(2) {
    opacity: 0;
}

.burgerMenu.open .line:nth-child(3) {
    rotate: 45deg;
    background-color: var(--lilac);
}

/* Layout styles */

.layout {
    min-height: 100vh;
    padding: 0 var(--padding);
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container {
    grid-column: 1 / -1;
    display: grid;
    /* justify-content: center; */
    /* border: 4px solid blue; */
}

.container::before,
.container::after {
    content: '';
    display: block;
}

.container::before,
.container::after {
    height: 80px;
}

.wrapper {
    /* border: 2px solid black; */
    /* grid-column: 1; */
    /* row-gap: 30px; */
    /* margin: 50px 0; */
    /* display: grid; */
}

.txtWrapper {
    row-gap: 0;
    display: flex;
    flex-direction: column;
}

.pageTitleWrapper {
    grid-row: 1 / span 1;
}

.pageTitleWrapper,
.container p,
.pageTxtWrapper,
.imageContainer {
    grid-column: 1 / span 12;
}

.container p {
    font-size: 1rem;
}

.imageContainer {
    display: grid;
    row-gap: 2.5rem;
}

.imageContainer::before {
    content: '';
}

.imageContainer img {
    width: 70ch;
}
.projektTitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    text-align: center;
}

.projektYear,
.pageUnderTitle {
    font-size: 1rem;
}

/* NOT FOUND 404 styles */
.notFound {
}

.notFound::before {
    grid-row: 1 / span 1;
}

.notFound .pageTitleWrapper {
    grid-row: 2;
}

.notFound .pageTitleWrapper + p {
    grid-column: 1 / -1;
}

.notFound a {
    color: var(--pinkish);
}

.linkContainer {
    grid-column: 2 / span 10;
    grid-row: 6 / span 1;
}

.link {
    line-height: 1.8;
    height: fit-content;
    font-size: 1.1rem;
    text-decoration: underline;
}

p.linkBody {
    font-size: 11px;
    font-style: italic;
    line-height: 1.9;
}

/* Hover, focus, transitions etc */

/* Break points */

@media screen and (min-width: 412px) {
}

@media screen and (min-width: 550px) {
    /* .projectContainer::before,
    .projectContainer::after {
        content: '';
        display: block;
        width: 100%;
        grid-column: 2 / span 10;
    } */

    /* .projectContainer::before {
        height: 50px;
    } */
    .pageTitleWrapper,
    .container p,
    .imageContainer,
    .pageTxtWrapper,
    .wrapper {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 768px) {
    .burgerMenu {
        display: none;
    }

    .navContainer {
        width: 100%;
    }

    .menu {
        /* border: 2px solid blue; */
        background-color: transparent;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        margin: auto;
        flex-direction: row;
        justify-content: space-around;
        /* padding: 0; */
        /* justify-content: space-between; */
        /* width: 100%; */
    }

    .menuLink {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 800px) {
    .imageContainer {
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .pageTitleWrapper,
    .container p,
    .imageContainer,
    .pageTxtWrapper,
    .wrapper {
        grid-column: 3 / span 8;
    }
}

@media screen and (min-width: 1024px) {
    .linkContainer {
        grid-column: 2 / span 3;
        grid-row: 6 / span 1;
        display: flex;
    }

    nav {
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
}
