/* Base styles */

/* Import fonts here */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&family=Montserrat:wght@400;500&display=swap'); */

:root {
    /* --white: #fcf7f4; */
    /* --white: #c3c3c3; */
    --white: #e3e3e3;
    --transparentWhite: rgba(252, 247, 244, 0.95);
    --dark: #05000d;
    --transparentDark: rgba(14, 6, 27, 0.8);
    --transparentDarker: rgba(14, 6, 27, 0.7);
    --pinkish: #bb85ba;
    --lilac: #b0aff6;
    --padding: 1.5em;
    --menuHeight: 50px;
}

::selection {
    background-color: var(--dark);
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--white);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--dark);
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--dark);
    transition: all 0.2s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    display: block;
}

.btn {
    background-color: var(--dark);
    color: var(--white);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    max-width: 400px;
    height: 50px;
    border: 2px solid transparent;
}

.btn:focus,
.btn:hover {
    background-color: var(--white);
    color: var(--dark);
    border-color: var(--dark);
}

button,
input,
textarea {
    border: none;
    padding: 8px;
}

textarea {
    resize: none;
}

/* Font and typography styles */

p,
input,
textarea,
a {
    letter-spacing: 0.025rem;
}

p {
    line-height: 1.7;
    font-weight: 300;
}

.logo {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    user-select: none;
}

h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.085rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 70ch;
}

.page-title {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
}

.menu ul li {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.035rem;
    user-select: none;
}

/* Global Components styles */

nav {
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 8;
    left: 0;
    right: 0;
    padding: var(--padding);
}

.nav_container {
    max-width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    max-width: 240px;
    width: 100%;
}

.menu {
    background-color: var(--white);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    translate: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 0 2em;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.menu ul .menu__link.active {
    --dark: #5e526e;
    cursor: none;
    pointer-events: none;
    text-decoration: underline;
    color: var(--dark);
}

.menu.open {
    opacity: 1;
    translate: 0;
}

.burger-menu {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    right: var(--padding);
    padding: 2px 0;
}

.line {
    background-color: var(--dark);
    height: 3px;
    width: 30px;
    margin: 5px 0;
    transform-origin: 26.5px;
    transition: all 0.3s ease;
}

.burger-menu.open .line:nth-child(1) {
    rotate: -45deg;
}

.burger-menu.open .line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
    rotate: 45deg;
}

/* Layout styles */

.container {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2em;
    z-index: 2;
    padding: 0 var(--padding);
    max-width: 960px;
    margin: auto;
}

.container::before,
.container::after {
    content: '';
    display: block;
    width: 100%;
}

.container::before {
    height: 50px;
}
.projectContainer {
    display: grid;
    row-gap: 2em;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / span 12;
}

.page-title-wrapper {
    grid-row: 1 / span 1;
}

.page-title-wrapper,
.projectContainer p,
.imageContainer {
    grid-column: 1 / span 12;
}

.projectContainer p {
    font-size: 1rem;
    grid-row: 2 / span 2;
}

.imageContainer {
    display: grid;
    row-gap: 3rem;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* overflow-x: auto; */
}

.imageContainer img {
    width: 70ch;
}
.projektTitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
}

.projektYear,
.pageSub-title {
    font-size: 1rem;
}

/* NOT FOUND 404 styles */
.not-found {
}

.not-found a {
    color: var(--pinkish);
    text-decoration: underline;
}

.linkContainer {
    grid-column: 2 / span 10;
    grid-row: 6 / span 1;
}

.link {
    line-height: 1.8;
    height: fit-content;
    font-size: 1.1rem;
    text-decoration: underline;
}

p.linkBody {
    font-size: 11px;
    font-style: italic;
    line-height: 1.9;
}

.nextprevProjects {
    width: 220px;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    justify-self: center;
    /* align-items: center; */
}
.nextPrevLink {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 4px 8px;
    transition: all 0.5s ease;
}

.prev span {
    margin-left: 6px;
}

.next span {
    margin-right: 6px;
}

/* Hover, focus, transitions etc */

/* Break points */

@media screen and (min-width: 412px) {
}

@media screen and (min-width: 550px) {
    /* .projectContainer::before,
    .projectContainer::after {
        content: '';
        display: block;
        width: 100%;
        grid-column: 2 / span 10;
    }

    .projectContainer::before {
        height: 50px;
    } */
    .page-title-wrapper,
    .projectContainer p,
    .imageContainer {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .menu {
        background-color: transparent;
        height: fit-content;
        opacity: 1;
        position: relative;
        translate: 0;
        max-width: 420px;
        width: 100%;
        display: inline-block;
        padding: 0;
    }

    .menu ul {
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
    }

    .menu ul li {
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .container {
        row-gap: 4em;
    }
}

@media screen and (min-width: 800px) {
    .imageContainer {
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .page-title-wrapper,
    .projectContainer p,
    .imageContainer {
        grid-column: 3 / span 8;
    }
}

@media screen and (min-width: 1024px) {
    .nav_container {
        /* justify-content: space-around; */
    }
    .linkContainer {
        grid-column: 2 / span 3;
        grid-row: 6 / span 1;
        display: flex;
    }

    .nextprevProjects {
    }

    nav {
        justify-content: center;
    }
    .container {
        row-gap: 5em;
    }

    .container::before {
        height: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        max-width: 450px;
    }
}

/* @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */

@media print {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
    }

    body {
        font-size: 16px;
    }

    ul {
        list-style: none;
    }
    #cvBody {
        text-align: left;
    }
}
