@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --white: #e3e3e3;
    --transparentWhite: rgba(252, 247, 244, 0.95);
    --dark: #05000d;
    --grey: #737274;
    --transparentDark: rgba(14, 6, 27, 0.8);
    --transparentDarker: rgba(14, 6, 27, 0.7);
    --pinkish: #bb85ba;
    --lilac: #b0aff6;
    --padding: 0.4rem;
    --menuHeight: 50px;
    --font: 'Quicksand', sans-serif;
}

::selection {
    background-color: var(--dark);
    color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--white);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--dark);
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
}
a:not(.logo, .skipLink) {
    transition: color 0.3s;
    position: relative;
    overflow: hidden;
}

a:not(.logo, .skipLink)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--dark);
    transform: scale(0);
    transition: transform 0.4s;
}

a:not(.logo, .skipLink):hover::after,
a:not(.logo, .skipLink):focus::after {
    transform: scale(1);
}

.lightLink {
    font-weight: 300;
}

a:hover:not(.logo, .skipLink),
a:focus:not(.logo, .skipLink) {
    color: var(--dark);
}

.btn {
    background-color: transparent;
    font-family: var(--font);
    color: var(--dark);
    font-size: 0.9rem;
    cursor: pointer;
    max-width: 400px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.btn:before,
.btn:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: var(--dark);
    transition: transform 0.4s;
}

.btn::before {
    border-width: 0.5px 0;
    transform: scaleX(0);
}

.btn::after {
    border-width: 0 0.5px;
    transform: scaleY(0);
}
.btn:hover::before,
.btn:hover::after,
.btn:focus::before,
.btn:focus::after {
    transform: scale(1, 1);
}

button,
input,
textarea {
    border: none;
    padding: 8px;
}

textarea {
    resize: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    display: block;
}

p,
input,
textarea,
a {
    letter-spacing: 0.025rem;
}

p {
    line-height: 1.7;
    font-weight: 300;
}

.logo {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    user-select: none;
    color: var(--transparentDarker);
}

h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.085rem;
    font-weight: 400;
    text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 70ch;
}

.pageTitle {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.paragraph {
    font-size: 0.9rem;
    line-height: 1.5;
}

.menuLink {
    font-size: 0.7rem;
    line-height: 1.8;
    /* letter-spacing: 0.05rem; */
    user-select: none;
}

.menuLink.active {
    --dark: #5e526e;
    cursor: none;
    pointer-events: none;
    color: var(--dark);
}

.menuLink.active::after {
    --dark: #5e526e;
    transform: scale(1);
    background-color: var(--dark);
    opacity: 0.5;
}

header,
nav {
    background-color: var(--white);
    position: fixed;
    z-index: 8;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--padding) 0;
    justify-self: center;
}

header {
    padding-top: 0.75rem;
}

nav {
    bottom: 0;
    align-items: flex-end;
}

.navContainer {
    max-width: 450px;
    width: 100%;
    padding: 0 var(--padding);
}

.menu {
    background-color: var(--white);
    display: flex;
    text-transform: uppercase;
    justify-content: space-around;
}

/* Layout styles */

.layout {
    min-height: 100vh;
    padding: 0 var(--padding);
    max-width: 1000px;
    margin: auto;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px 1fr 60px;
    row-gap: 20px;
}

.container {
    margin-bottom: 20px;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-flow: dense;
    row-gap: 20px;
}

.txtWrapper {
    row-gap: 0;
    display: flex;
    flex-direction: column;
}

.wrapper p {
    grid-row: 2 / span 1;
}

.pageTitleWrapper {
    grid-row: 1 / span 1;
}

.pageTxtWrapper p {
    display: flex;
}

.pageTxtWrapper p a {
    margin: 0 4px;
}

.pageTitleWrapper + p,
.video,
.imageContainer,
.linkContainer {
    margin: 0 auto 30px auto;
}

.video {
    /* border: 1px solid blue; */
}

.container p {
    font-size: 1rem;
}

.imageContainer {
    display: grid;
    row-gap: max(1.7vh, 2.5rem);
    width: 100%;
}

figure {
    row-gap: max(1vh, 1rem);
    display: grid;
}

.imageContainer::before {
    content: '';
    display: block;
}

.portraitImg {
    width: max(25vw, 200px);
}

.landscapeImg {
    width: min(40vw, 450px);
}

figure img {
    margin: auto;
}

figcaption {
    font-size: 12px;
    margin: auto;
    text-align: center;
    width: fit-content;
    word-wrap: break-word;
}

.projektTitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    text-align: center;
}

.projektYear,
.pageUnderTitle {
    font-size: 1rem;
}

/* NOT FOUND 404 styles */
.notFound {
}

.notFound::before {
    grid-row: 1 / span 1;
}

.notFound .pageTitleWrapper {
    grid-row: 2;
}

.notFound .pageTitleWrapper + p {
    grid-column: 1 / -1;
}

.notFound a {
    color: var(--pinkish);
}

.linkContainer {
    grid-column: 2 / span 10;
    grid-row: 6 / span 1;
}

.link {
    line-height: 1.8;
    height: fit-content;
    font-size: 1.1rem;
    text-decoration: underline;
}

p.linkBody {
    font-size: 11px;
    font-style: italic;
    line-height: 1.9;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 550px) {
    .pageTitleWrapper,
    .container p,
    .imageContainer,
    .pageTxtWrapper,
    .wrapper {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 768px) {
    .menuLink {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 800px) {
    .imageContainer {
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .pageTitleWrapper,
    .container p,
    .imageContainer,
    .pageTxtWrapper,
    .wrapper {
        grid-column: 3 / span 8;
    }
}

@media screen and (min-width: 1024px) {
    .linkContainer {
        grid-column: 2 / span 3;
        /* display: flex; */
    }

    nav {
        /* justify-content: center; */
    }
}

@media screen and (min-width: 1200px) {
}
