.homeImg {
    /* height: 100%; */
    /* max-height: 100vh; */
    object-fit: cover;
    object-position: 5%;
}

@media screen and (min-width: 1000px) {
    .homeImg {
        object-fit: contain;
        object-position: 50% 50%;
    }
}

/* .homeImg img {
    height: 100%;
    aspect-ratio: 18/9;
} */
