.homeImg {
    --space: 1.5rem;
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 80%;
}

@media screen and (min-width: 1000px) {
    .homeImg {
        object-fit: contain;
    }
}
