.landingLayout {
    /* height: 100vh; */
}

.backgroundImg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('../assets/den_foranderliga_tavlan.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
