.news {
    --dark: #08040e;
    --gap: 1.2em;
    /* --white: #fcf7f4; */
    /* --white: #c3c3c3; */
    --white: #e3e3e3;
    grid-template-columns: repeat(12, 1fr);
}

.newsList {
    grid-column: 1 / span 12;
    display: grid;
    column-gap: var(--gap);
}

.newsCard {
    padding: 1.8em 8px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* background-image: radial-gradient(
        circle at center,
        var(--dark) 50%,
        transparent 50%
    );
    background-repeat: no-repeat;
    transition: background-size 0.5s, color 0.5s, box-shadow 0.5s ease-in;
    background-size: 0 0;
    background-position: 50% 50%; */
    /* box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.02),
        2px 2px 10px rgba(0, 0, 0, 0.05); */
}

.newsCard::before {
    content: '';
    width: 100%;
    background-color: var(--dark);
    height: 2px;
    position: absolute;
    top: 0;
}

.newsCard:last-of-type::after {
    content: '';
    width: 100%;
    background-color: var(--dark);
    height: 2px;
    position: absolute;
    bottom: 0;
}

.newsCard .newsCard:hover,
.newsCard:focus-within {
    /* background-size: 200% 200%;
    color: var(--dark); */
    /* box-shadow: 12px 10px 20px rgba(0, 0, 0, 0.14),
        0 18px 20px rgba(0, 0, 0, 0.14); */
}

.newsCard__txtWrapper {
    width: max(100%, 250px);
    min-height: 100px;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

/* .newsCard:hover .newsCard__txtWrapper,
.newsCard:hover .newsLink,
.newsCard:hover .newsLink svg path,
.newsCard:focus-within .newsCard__txtWrapper,
.newsCard:focus-within .newsLink,
.newsCard:focus-within .newsLink svg path {
    color: white;
    stroke: white;
} */

.newsInfo {
    font-style: italic;
    font-size: 14px;
}

.newsCard.currentNews {
    --lightDark: rgba(45, 40, 52, 0.1);
}

.newsCard.currentNews:hover,
.newsCard.currentInfo:focus {
    /* border-radius: 50%; */
}

.newsCard__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: flex;
    align-items: flex-end;
}

/* .newsCard__heading p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.8;
} */

.newsCard__dates {
    grid-column: 1 / span 2;
    display: flex;
}

.newsCard__dates p {
    width: fit-content;
    background-color: var(--dark);
    color: var(--white);
    padding: 2px 4px;
    font-size: 0.8rem;
}

.newsCard__dates p:nth-of-type(2) {
    margin-left: 8px;
}

.newsCard__location {
    /* border: 1px solid red; */
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.newsCard__link {
    /* position: absolute;
    bottom: 1em; */
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}

@media screen and (min-width: 550px) {
    .news::before,
    .news::after {
        content: '';
        display: block;
        width: 100%;
        grid-column: 2 / span 10;
    }

    .news::before {
        height: 50px;
    }
    .newsList {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 680px) {
    .newsCard {
    }

    .newsList {
        row-gap: var(--gap);
    }
}

@media screen and (min-width: 1000px) {
    .newsList {
        grid-column: 3 / span 8;
    }
}

@media and (min-width: 1024px) {
    .news::before {
        height: 10px;
    }
}
