.newsList {
    --dark: #08040e;
    --gap: 1.2em;
    --white: #e3e3e3;
    --opac: 0.5;
    --lineHeight: 0.5px;
}

.newsCard {
    padding: 1.8em 8px;
    position: relative;
    background-color: var(--white);
}

.newsCardTxtWrapper {
    width: max(100%, 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newsInfo {
    font-style: italic;
    font-size: 14px;
}

.newsCard.currentNews {
    --lightDark: rgba(45, 40, 52, 0.1);
}

.newsCardDates {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-bottom: 8px;
}

.newsCardDates p {
    width: fit-content;
    border: var(--lineHeight) solid var(--dark);

    padding: 2px 6px;
    font-size: 0.8rem;
}

.newsCardDates p:nth-of-type(2) {
    margin-left: 10px;
}

.newsCardLink {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.newsCardTitle {
    margin-bottom: 0px;
}

@media screen and (min-width: 550px) {
    .newsList {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 680px) {
    .newsCard {
    }

    .newsList {
        row-gap: var(--gap);
    }
}

@media screen and (min-width: 1000px) {
    .newsList {
        grid-column: 3 / span 8;
    }
}

@media and (min-width: 1024px) {
}
