.newsList {
    --dark: #08040e;
    --gap: 1.2em;
    /* --white: #fcf7f4; */
    /* --white: #c3c3c3; */
    --white: #e3e3e3;
    --opac: 0.5;
    --lineHeight: 0.5px;
}

.newsCard {
    padding: 1.8em 8px;
    position: relative;
    background-color: var(--white);
    /* background-image: radial-gradient(
        circle at center,
        var(--dark) 50%,
        transparent 50%
    );
    background-repeat: no-repeat;
    transition: background-size 0.5s, color 0.5s, box-shadow 0.5s ease-in;
    background-size: 0 0;
    background-position: 50% 50%; */
    /* box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.02),
        2px 2px 10px rgba(0, 0, 0, 0.05); */
}

/* .newsCard::before {
    content: '';
    width: 100%;
    background-color: var(--dark);
    opacity: var(--opac);
    height: var(--lineHeight);
    position: absolute;
    top: 0;
}

.newsCard:last-of-type::after {
    content: '';
    width: 100%;
    background-color: var(--dark);
    height: var(--lineHeight);
    position: absolute;
    bottom: 0;
} */

.newsCardTxtWrapper {
    width: max(100%, 250px);
    /* min-height: 110px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newsInfo {
    font-style: italic;
    font-size: 14px;
}

.newsCard.currentNews {
    --lightDark: rgba(45, 40, 52, 0.1);
}

.newsCard.currentNews:hover,
.newsCard.currentInfo:focus {
    /* border-radius: 50%; */
}

.newsCardDates {
    display: flex;
    align-items: center;
    max-width: fit-content;
    margin-bottom: 8px;
}

.newsCardDates p {
    width: fit-content;
    border: var(--lineHeight) solid var(--dark);

    padding: 2px 6px;
    font-size: 0.8rem;
}

.newsCardDates p:nth-of-type(2) {
    margin-left: 10px;
}

.newsCardLink {
    /* grid-row: 2; */
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    /* grid-column: 3 / span 2; */
    /* grid-row: 3 / span 1; */
}

.newsCardLinkCenter {
}

.newsCardLinkCenter::before {
    content: '';
    height: 27px;
    margin-bottom: 8px;
}

.newsCardTitle {
    /* text-transform: uppercase; */
    line-height: 1.5;
    margin-bottom: 6px;
}

@media screen and (min-width: 550px) {
    .newsList {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 680px) {
    .newsCard {
    }

    .newsList {
        row-gap: var(--gap);
    }
}

@media screen and (min-width: 1000px) {
    .newsList {
        grid-column: 3 / span 8;
    }
}

@media and (min-width: 1024px) {
    .news::before {
        /* height: 10px; */
    }
}
