/* STYLES FOR PROJECT COMPONENTS */

.title__wrapper {
    grid-column: 1 / span 5;
}

.pageInfoText p:last-of-type {
    margin-top: 12px;
}

.videoContainer {
    /* margin-top: max(6vh, 4rem); */
    /* margin-top: 4vmax; */
    margin: max(4vh, 3.5rem) 0 max(5vh, 5rem) 0;
}

.videoContainer,
.videoContainer img,
.videoContainer > div,
.videoContainer > div > div,
.videoContainer iframe {
    aspect-ratio: 18/9;
}

.videoContainer img {
    width: 100%;
    height: 100%;
}

.videoContainer iframe {
    grid-column: 1 / -1;
}

.videoText {
    margin-top: 1.5rem;
}

.linkContainer {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 411px) {
}

@media screen and (min-width: 550px) {
    .videoContainer,
    .essayContainer {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 1000px) {
    .videoContainer,
    .essayContainer {
        grid-column: 3 / span 8;
        /* grid-column: span 6; */
    }

    .linkContainer {
        /* flex-direction: row;
        align-items: center;
        justify-content: space-between; */
    }
}

@media screen and (min-width: 1024px) {
}
