/* STYLES FOR PROJECT COMPONENTS */

.projectImageFigure {
    /* border: 1px solid red; */
}
.projectImage {
    /* border: 1px solid red; */
    /* max-width: 1000px; */
}

/* Styles for the Video component, regarding size, thumbnail images etc. */

/* Styles for the Audio component */

/* Archive images */

.archiveContainer {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    row-gap: 15px;
    column-gap: 15px;
    grid-auto-flow: dense;
}

.archive__container {
}

.title__wrapper {
    grid-column: 1 / span 5;
}

.archiveImgFigure {
    display: flex;
    grid-column: span 3;
    /* justify-content: center; */
}

.archiveImg {
    flex-grow: 1;
}

@media screen and (min-width: 411px) {
    .archiveContainer {
        /* grid-auto-flow: row; */
        /* grid-template-columns: 1fr 3fr 1fr; */
    }

    /* .archiveImgFigure:nth-of-type(13) {
        grid-row: span 2;
    } */

    /* .archiveImgFigure:nth-of-type(14) {
        grid-row: span 1;

    } */

    /* .archiveImgFigure:nth-of-type(17) {
        grid-row: span 1;
    } */
    /*
    .archiveImgFigure:nth-of-type(18) {
        grid-column: 4 / span 3;
        grid-row: span 2;
    } */

    /* .archiveImgFigure:nth-of-type(20) {
        grid-column: 2 / span 4;
        grid-row: span 1;
    } */

    /* .archiveImgFigure:nth-of-type(21) {
        grid-column: 2 / span 4;
        grid-row: 12 / span 1;
    } */

    /* .archiveImgFigure:nth-of-type(22) {
        grid-column: 2 / span 4;
        grid-row: 14 / span 1;
    } */
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 789px) {
    .archiveContainer {
        /* grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr)); */
    }
}

@media screen and (min-width: 1024px) {
    .archiveContainer {
        /* grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr)); */
    }
    /* .archiveImgFigure:nth-of-type(2) {
        grid-column: span 3;
    } */

    /* .archiveImgFigure:nth-of-type(6) {
        grid-row: 7 / span 3;
    } */

    .archiveImgFigure:nth-of-type(13) {
        /* grid-column: 5 / span 3; */
        /* border: 2px solid yellow; */
    }

    .archiveImgFigure:nth-of-type(14) {
        /* grid-row: 10 / span 1; */
        /* grid-column: 1 / span 3; */
    }

    .archiveImgFigure:nth-of-type(15) {
        /* grid-row: 10 / span 1; */
        /* grid-column: 4 / span 3; */
    }

    .archiveImgFigure:nth-of-type(16) {
        /* grid-column: 1 / span 4; */
        /* grid-row: 11 / span 1; */
    }

    .archiveImgFigure:nth-of-type(17) {
        /* grid-row: 10 / span 1; */
        /* grid-column: 7 / span 3; */
    }

    .archiveImgFigure:nth-of-type(18) {
        /* border: 2px solid purple; */
        /* border: 8px solid green; */
    }

    .archiveImgFigure:nth-of-type(19) {
        /* grid-column: 1 / span 3; */
        /* border: 2px solid black; */
    }

    .archiveImgFigure:nth-of-type(20) {
        /* grid-column: span 3; */
        /* border: 3px solid black; */
    }

    .archiveImgFigure:nth-of-type(21) {
        /* grid-column: span 3; */
        /* border: 2px solid magenta; */
    }

    .archiveImgFigure:nth-of-type(22) {
        /* grid-column: 1 / span 3; */
        /* grid-row: 14 / span 2; */
        /* border: 2px solid greenyellow; */
    }

    .archiveImgFigure:nth-of-type(23) {
        /* border: 5px solid pink; */
    }

    .archiveImgFigure:nth-of-type(24) {
        /* border: 5px solid blue; */
    }
}

/* LAYOUT STYLES FOR SPECIFIC PAGES */

/* hilma */

/* emanuel */

/* axel */

/* journey i & journey ii */

/* correspondances i & correspondances ii */

/* axis mundi berlin & axis mundi stockholm */
