/* STYLES FOR PROJECT COMPONENTS */

.title__wrapper {
    grid-column: 1 / span 5;
}

.videoContainer {
    margin-top: max(6vh, 4rem);
    width: 100%;
    height: 350px;
    /* max-width: 960px; */
}

.videoContainer > div {
    height: 350px;
    max-width: 960px;
}

.videoContainer > div > div {
    height: 350px;
    overflow: hidden;
    max-width: 960px;
}

.videoContainer iframe {
    max-width: 960px;
    height: 350px;
    grid-column: 1 / -1;
}

.videoContainer img {
    height: 350px;
}

.videoText {
    margin-top: 1.5rem;
}

.linkContainer {
    grid-column: span 12;
    /* max-width: 70ch; */
    /* width: fit-content; */
}

.linkContainer div {
}

.linkContainer a {
}

@media screen and (min-width: 411px) {
}

@media screen and (min-width: 550px) {
    .videoContainer,
    .essayContainer {
        grid-column: 2 / span 10;
    }
}

@media screen and (min-width: 630px) {
    .videoContainer {
    }
}

@media screen and (min-width: 690px) {
    .videoContainer {
    }
}

@media screen and (min-width: 1000px) {
    .videoContainer,
    .essayContainer {
        grid-column: 3 / span 8;
        /* grid-column: span 6; */
    }
}

@media screen and (min-width: 1024px) {
}
