.publishedContainer {
    --space: 1.5rem;
    --cvUnderTitleSpace: 10px;
    --letterSpace: 0.03rem;
    --cvListSpace: 1.5vmin;
    /* display: flex; */
    /* flex-direction: column; */
    /* grid-column: 1 / -1; */
    justify-self: flex-start;
    /* border: 2px solid blue; */
    width: 100%;
    row-gap: var(--space);
}

.publishedContainer h3 {
}

.bodyContainer ul {
    display: grid;
    row-gap: var(--space);
}

.bodyContainer {
}

.publishedContainer ul li p {
    /* border: 1px solid black; */
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.publishedContainer ul li p a {
    /* outline: 1px solid red; */
    /* padding-bottom: 2px; */
}

.publishedContainer ul p {
    /* display: flex; */
    /* flex-direction: column; */
}

@media screen and (min-width: 768px) {
    .publishedContainer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: flex-start;
    }

    .publishedContainer ul li {
        max-width: 300px;
        width: 100%;
    }

    .publishedContainer ul li p,
    .publishedContainer ul li p a {
        margin: auto;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .publishedContainer {
        /* max-width: 100%; */
    }

    .bodyContainer ul {
        /* grid-template-columns: repeat(2, 0.5fr) auto repeat(2, 0.5fr); */
    }

    .bodyContainer ul li {
        /* grid-column: 3 / span 1; */
    }
}
